* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

select {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.rating {
    margin-bottom: 20px;
}

/* Estilo das estrelas */
.star {
    font-size: 30px;
    color: gray; /* Cor inicial das estrelas */
    cursor: pointer;
    transition: color 0.3s ease; /* Transição suave para a cor */
}

/* Cor das estrelas selecionadas */
.star.selected {
    color: yellow; /* Cor das estrelas selecionadas */
}

/* Opcional: Cor ao selecionadas o mouse */
.star:hover {
    color: gold; /* Cor ao selecionadas o mouse */
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.feedback {
    margin-top: 20px;
    font-size: 18px;
    color: #4CAF50;
}
